.menu-item {
    position: relative;
  }
  
  .menu-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px; /* Adjust the width for the vertical bar */
    height: 0;
    background-color: #0D47A1; /* The color of the bar */
    
    border-radius: 4px; /* Optional for rounded edges */
  }
  
  .menu-item:hover::before {
    height: 100%; /* Full height when hovered */
  }
  